# ENV

In [4]:
import numpy as np
import pandas as pd

# pandas indexing

* iloc
* loc

In [12]:
s1 = pd.Series(np.arange(10,15))

In [13]:
s1

0    10
1    11
2    12
3    13
4    14
dtype: int32

* iloc는 인덱스 레이블이 아니라 제로베이스 포지션 정보를 기반으로 조회

In [14]:
s1 = pd.Series(np.arange(10,15), index = list('abcde'))

In [16]:
s1

a    10
b    11
c    12
d    13
e    14
dtype: int32

In [17]:
s1.iloc[[0,2]]

a    10
c    12
dtype: int32

* locs는 레이블로 검색

In [18]:
s1.loc[['a','b']]

a    10
b    11
dtype: int32

In [19]:
s = pd.Series(np.arange(100,110), index = np.arange(10,20))

In [20]:
s

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
18    108
19    109
dtype: int32

* slicing

In [21]:
s[1:6]

11    101
12    102
13    103
14    104
15    105
dtype: int32

In [22]:
s.loc[[10,12,19]]

10    100
12    102
19    109
dtype: int32

In [23]:
s[::3]

10    100
13    103
16    106
19    109
dtype: int32

In [24]:
s3 = pd.Series(np.arange(0,5), index= list('abcde'))

In [25]:
s3

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [96]:
s3 > 1

a    False
b    False
c     True
d     True
e     True
dtype: bool

In [26]:
s3[s3 > 1]

c    2
d    3
e    4
dtype: int32

* numpy 사용 연산 응용

In [27]:
condition = (s3 > 1) & (s3 < 3)

In [28]:
s3[condition]

c    2
dtype: int32

* 컬럼 변경

* example data
* 주소: https://finance.naver.com/item/sise_day.nhn?code=100120&page=2

In [31]:
v = pd.read_html("https://finance.naver.com/item/sise_day.nhn?code=100120&page=2")[0]

In [32]:
v.columns = ['date','close','delta','start','high','low','volume']

In [33]:
v

          date    close   delta    start     high      low    volume
0          NaN      NaN     NaN      NaN      NaN      NaN       NaN
1   2020.05.15  40300.0   450.0  41400.0  42550.0  39100.0  423475.0
2   2020.05.14  40750.0  3400.0  37300.0  41650.0  36350.0  609692.0
3   2020.05.13  37350.0   300.0  36450.0  37400.0  36100.0  108896.0
4   2020.05.12  37050.0  1650.0  35300.0  37100.0  34750.0  207795.0
5   2020.05.11  35400.0  1600.0  37150.0  37500.0  35350.0  147867.0
6          NaN      NaN     NaN      NaN      NaN      NaN       NaN
7          NaN      NaN     NaN      NaN      NaN      NaN       NaN
8          NaN      NaN     NaN      NaN      NaN      NaN       NaN
9   2020.05.08  37000.0   550.0  36450.0  38000.0  36450.0  118061.0
10  2020.05.07  36450.0  1450.0  35500.0  37550.0  35250.0  251131.0
11  2020.05.06  35000.0     0.0  35100.0  35200.0  34350.0   84554.0
12  2020.05.04  35000.0   200.0  34650.0  36150.0  34400.0  120148.0
13  2020.04.29  35200.0  1800.0  37000.0  37250.0  34750.0  197874.0
14         NaN      NaN     NaN      NaN      NaN      NaN       NaN

In [34]:
type(v[['close']])

pandas.core.frame.DataFrame

In [35]:
type(v['close'])

pandas.core.series.Series

In [36]:
v_close = v['close']

In [37]:
v_close.iloc[[2,3]]

2    40750.0
3    37350.0
Name: close, dtype: float64

In [38]:
v.size

105

In [39]:
v.shape

(15, 7)

In [40]:
v.reset_index(drop = True, inplace = True)

In [41]:
v

          date    close   delta    start     high      low    volume
0          NaN      NaN     NaN      NaN      NaN      NaN       NaN
1   2020.05.15  40300.0   450.0  41400.0  42550.0  39100.0  423475.0
2   2020.05.14  40750.0  3400.0  37300.0  41650.0  36350.0  609692.0
3   2020.05.13  37350.0   300.0  36450.0  37400.0  36100.0  108896.0
4   2020.05.12  37050.0  1650.0  35300.0  37100.0  34750.0  207795.0
5   2020.05.11  35400.0  1600.0  37150.0  37500.0  35350.0  147867.0
6          NaN      NaN     NaN      NaN      NaN      NaN       NaN
7          NaN      NaN     NaN      NaN      NaN      NaN       NaN
8          NaN      NaN     NaN      NaN      NaN      NaN       NaN
9   2020.05.08  37000.0   550.0  36450.0  38000.0  36450.0  118061.0
10  2020.05.07  36450.0  1450.0  35500.0  37550.0  35250.0  251131.0
11  2020.05.06  35000.0     0.0  35100.0  35200.0  34350.0   84554.0
12  2020.05.04  35000.0   200.0  34650.0  36150.0  34400.0  120148.0
13  2020.04.29  35200.0  1800.0  37000.0  37250.0  34750.0  197874.0
14         NaN      NaN     NaN      NaN      NaN      NaN       NaN

In [42]:
v_close > 35000

0     False
1      True
2      True
3      True
4      True
5      True
6     False
7     False
8     False
9      True
10     True
11    False
12    False
13     True
14    False
Name: close, dtype: bool